.ImageBox {
}

.headlineWrapper {
    background: lightgray;
    text-align: center;
    color: black;
}

.headlineWrapper h3 {
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
}

.imageWrapper {
    width: 100%;
}

.imageWrapper img {
    width: 100%;
}
